body {
    /*background-color: rgb(94, 77, 227);*/
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
/* display: flex;
align-items: center;
justify-content: center;
margin: 0; */
}
.navbar{
    background-color: #ffff;
    border-bottom: 1px solid #eee;
    /* position: sticky;
    top: 0; */
}
.nav-container{
    max-width: 800px;
    margin: 0 auto;
    padding: 10px 20px;

    /* display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;                     */
}
.links{
    display: flex;
    justify-content: center;
    column-gap: 20px;
    list-style-type: none;   
}
.links li{
    background-color:#9db0e1;
    margin: 5px;
    padding: 5px 10px;
    border-radius: 6px;
}
.links a{
    text-decoration: none;
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: lawngreen;
}

.links a:hover{
    color: tomato;
}
/* .links a:visited{
    color: crimson;
} */




.container{
    width: 100%;
    text-align: center;
    padding: 30px 0;
    margin: auto;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* max-width: 600px; */
   padding: 20px 0;
    background-color: #fafafa;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #eee;
}
#profile-item {
   
    width: 100%;
     max-width: 140px;
    border-radius: 70px;
 

}
.intro{
    display:flex;
flex-direction: column;
align-items: center;
background-color: #f5f5f5;
padding: 20px;
border-radius: 12px;
box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.intro h1{
    color:steelblue;
    margin: 2px 10px; 
    font-size: 32px;
}
 h2{
    margin: 5px;
    font-size: 22px;
    color: rgb(66, 87, 125);
 }

p{
    margin-top: 4px 0;
    color: #555;
    font-size: 14px;
}


.social{
    display: flex;
    justify-content: center;
    align-items: center;

     width: 100%;
    background-color: #fafafa;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
 
}
.git a, .inked a{
    display: flex;
    margin: 10px;
    text-decoration:none;
    color: black;
   
}
.git a:hover, .inked a:hover{
    color: red;
}
.skill {
    list-style-type: none;
    padding: 0;
}
.skill li{
    background-color:#e3eafc;
    display: inline-block;
    margin: 5px;
    padding: 5px 10px;
    border-radius: 6px;
}

@media (max-width: 600px){
    .intro h1{
        font-size: 22px;
    }

    h2{
        font-size: 18px;
        color:red;

    }
    .main{
        padding: 20px 10px;
    }
}
.else{
    background-color: aqua;
}